footer {
  background-color: var(--dark-color);
  color: var(--border-color);
  font-size: var(--body-font-size-xs);
  font-family: var(--mono-font-family);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 32px 24px;
}

footer .footer p {
  margin: 0 0 4px;
}

footer .footer a:any-link {
  color: var(--accent-mustard);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 32px;
  }
}
